.navButtonBlock {
  display: flex;
  align-items: center;
  width: 188px;
  height: 48px;
  flex-shrink: 0;
  margin-top: 8px;
}

.navButtonBlock:hover {
  cursor: pointer;
}

.activeBlock {
  -webkit-transition: background 333ms linear;
  -ms-transition: background 333ms linear;
  transition: background 333ms linear;
  border-radius: 6px;
  background: #e5f1ff;
}

.svg {
  margin-left: 16px;
}

.svgActive {
  fill: #0177fd;
}

.svgInactive {
  fill: #a4b4cb;
}

.textActive {
  font-family: "Poppins", sans-serif;
  color: #0177fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 12px;
}

.textInactive {
  font-family: "Poppins", sans-serif;
  color: #131635;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 12px;
}
